<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billdoerr.android.geotracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAD_A4jtOWm-M_pm4Bmx1AtjHWZ8IRcp9Q" />

        <service
            android:name=".services.GPSService"
            android:enabled="true" >
        </service>

        <service
            android:name=".services.TrackingService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_title_settings"
            android:theme="@style/AppTheme">
        </activity>

        <receiver
            android:name=".services.GPSServiceRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="RestartServiceWhenStopped">
        </receiver>

        <receiver
            android:name=".services.TrackingServiceRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="RestartServiceWhenStopped">
        </receiver>

    </application>

</manifest>